html,body,.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
}

.item, a {
    color: black;
    font-family: 'Caladea', serif;
    font-size: 20px;
}

.item {
    max-width: 75%;
    margin: auto;
    word-wrap: break-word;
}
